<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&AHub</title>
    <link rel="stylesheet" href="style_love.css">
</head>
<body>
    <header>
        <h1>Q&AHub</h1>
        <nav>
        <ul>
            <li><a href="personal.html">tomato_0318</a></li>
        </ul>
        </nav>
    </header>
    <main>
        <div class="main">
            <div class="main_inside">
                <h2>學業</h2>
            </div>
            <div class="question">
                <div class="question_inside">
                    <p>因為心裡狀況不好，導致平常沒唸到書，加上我完全讀不下書，最近又要期末考就覺得人生完蛋了，很憂鬱，只剩下一個禮拜可以準備，只能裸考嗎，有甚麼方法讓我能讀進去書。</p>
                    <p>本人公立科大/GPA:3.6/雅思7分
                        商科背景沒有考GMAT
                        
                        目前在考慮這兩所學校的Digital Marketing 
                        請問選擇California State Polytechnic University美碩（讀兩年，晚上上課）畢業後3年OPT
                        還是Nottingham Trent (一年讀研，一年實習）
                        哪個會比較好呢？</p>
                    <p>最近在刷指模，學測模時發現閱讀測驗會卡很久，如果要保證80%以上的答對率，我似乎要寫25～30分鐘🤔整份考卷大概50～60分鐘寫完。

                        想問各位英文15級或是能在40分鐘寫完並有不錯成績的大神們，能分享寫閱測的技巧，我會多方參考，非常感謝🥺🥺</p>
                    <p>有快速考成大資工所方法？
                        RT
                        有沒有大神可以告訴一下方法，
                        剩最後幾天了，想全力拼NCKU</p>
                </div>
            </div>
        </div>
      </main>
      <footer>
        &copy; 2023 Q&AHub. All rights reserved. Content on this site is protected by copyright law. Unauthorized use is strictly prohibited. Q&AHub and its logos are registered trademarks.
      </footer>
</body>
</html>