<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&AHub</title>
    <link rel="stylesheet" href="style_love.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_love.css') }}">
</head>
<body>
    <header>
        <h1>Q&AHub</h1>
        <nav>
        <ul>
            <li><a href="personal.html">tomato_0318</a></li>
        </ul>
        </nav>
    </header>
    <main>
        <div class="main">
            <div class="main_inside">
                <h2>感情</h2>
            </div>
            <div class="question">
                <div class="question_inside">
                    <p>女朋友一直想看我的滴卡，可是我裡面寫得都是跟她有關的耶
                        有什麼方法可以不要讓她這麼好奇我dcard裡面寫什麼內容啊
                        女友真的好煩</p>
                    <p>請問大家都曖昧多久才告白呀？
                        最近想衝告白
                        但只曖昧+認識了快一個月
                        不知道會不會太快(T＿T)</p>
                    <p>分手後斷聯是最好的選擇嗎？已經和對方分開了八個月多，但還是偶爾會聊天（不過對方回覆的時間已越拉越長）
                        到現在我還是走不出來，只能讓自己每天很忙很忙，忙工作、忙著未來開店的計畫，不敢讓自己閒下來。可以請各位有經驗的人能否給我一些你們的看法跟做法呢？</p>
                    <p>最近在跟自己喜歡的人聊天，但對方不太會聊天 她自己也說過不太會跟異性聊天，目前只有在她分享自己時或是講比較正經的像聊心事的時候才比較聊得起來，請問有什麼話題是比較好聊的嗎？我該怎麼做才能讓她比較好接話？</p>
                </div>
            </div>
        </div>
      </main>
      <footer>
        &copy; 2023 Q&AHub. All rights reserved. Content on this site is protected by copyright law. Unauthorized use is strictly prohibited. Q&AHub and its logos are registered trademarks.
      </footer>
</body>
</html>