<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&AHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_mainpage_nologin.css') }}">

</head>
<body>
    <header>
    <h1>Q&AHub</h1>
    <nav>
    <ul>
        <li><a href="personal.html">tomato_0318</a></li>
    </ul>
    </nav>
    </header>
    <main>
    <section>
    <div class="top">
        <div class="outside">
            <div class="inside">
                <h2>"知識之橋，Q&AHub為你架橋"</h2>
                <p>有問題，就問！Q&AHub，自在探索知識的樂趣</p>
                <a href="#">立即探索</a>
            </div>
        </div>
        <div>
            <div class="bottom1_left">
            </div>
            <div class="bottom1">
                <nav>
                <ul>
                    <li><a href="#">熱門</a></li>
                    <li><a href="#">最新</a></li>
                </ul>
                </nav>
            </div>
        </div>
        <div>
            <div class="bottom2_left">
                <h2>分類</h2>
            </div>
            <div class="bottom2">
                <div class="bottom2-box">
                    <a href="add_questioin.html">新增問題</a>
                </div>
            </div>
        </div>
    </div>
    </section>   
    <section>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="love.html">感情</a></li>
                    <li><a href="travel.html">旅遊</a></li>
                    <li><a href="homework.html">學業</a></li>
                </ul>
            </nav>
        </div>
        <div class="question">
            <div class="question_inside">
                <a href="mainpage1.html">小女子剛出社會 辦了人生第一張信用卡
                    但有了魔法小卡後 感覺自己的消費變高了
                    可能過去拿出現金消費多少會有罪惡感
                    或是手上有多少錢買多少東西
                    但信用卡可以延遲付款 消費還有回饋 
                    相對沒那麼心痛 可能也因為這樣所以消費變高了QQ
                    好奇大家有了信用卡後
                    平均消費變高還是變低了呢？</a>
            </div>
            <div class="question_inside">
                <a href="#">幫朋友問有沒有人想養貓 歡迎來看 歡迎詢問
                    有四隻～ 都已結紮 都是品種 成貓
                    每隻都很漂亮養的非常好 歡迎有想養成貓的人 
                    這邊剛好有 可以推薦給你們 
                    送養原因不知道只是幫問 
                    地點屏東～</a>
            </div>
            <div class="question_inside">
                <a href="#">各位新年快樂~~🥳🥳🥳
                    又是新的一年了！！！！
                    很好奇大家在2023年都玩什麼mmorpg（pc)居多，最近想選一款mmorpg來玩，但是不知道現在大家普遍都是玩哪個🤔</a>
            </div>
        </div>
    </section>
    
    </main>
    <footer>
        &copy; 2023 Q&AHub. All rights reserved. Content on this site is protected by copyright law. Unauthorized use is strictly prohibited. Q&AHub and its logos are registered trademarks.
    </footer>
</body>
</html>