<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&AHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_mainpage1.css') }}">
</head>
<body>
    <header>
        <h1>Q&AHub</h1>
        <nav>
        <ul>
            <li><a href="login.html">tomato_0318</a></li>
        </ul>
        </nav>
    </header>
    <main>
    <div class="main">
        <div class="main_inside">
            <h2>信用卡</h2>
        </div>
    </div>
    <div class="input">
        <p>我已經診斷出重鬱症10年了
            因為原生家庭家暴
            有重大傷病卡
            但我每天都覺得活的好痛苦
            看到太陽覺得日子
            怎麼一天一天都沒止盡
            我已經不想繼續努力了
            可以放棄嗎</p>
        <div class="add">
            <a href="#">新增回覆</a>
        </div>
        <div class="message">
            <p>找幾首喜歡的音樂如何，我自己是合唱團的團員，唱了5年慢慢累積了幾首歌詞能擁抱我的歌，狀況不好就聽聽歌、走在路上就唱唱歌，供參</p>
        </div>
        <div class="message">
            <p>不可以放棄 
                離開原生家庭 自己生活
                這世界還有很多你沒看到美好的事
                加油！勇敢走下去</p>
        </div>
        <div class="message">
            <p>做出的選擇 對得起自己就好了</p>
        </div>
    </div>  
    </main>
    <footer>
        &copy; 2023 Q&AHub. All rights reserved. Content on this site is protected by copyright law. Unauthorized use is strictly prohibited. Q&AHub and its logos are registered trademarks.
    </footer>
</body>
</body>
</html>