<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&AHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_mainpage1.css') }}">

</head>
<body>
    <header>
        <h1>Q&AHub</h1>
        <nav>
        <ul>
            <li><a href="login.html">tomato_0318</a></li>
        </ul>
        </nav>
    </header>
    <main>
    <div class="main">
        <div class="main_inside">
            <h2>信用卡</h2>
        </div>
    </div>
    <div class="input">
        <p>幫朋友問有沒有人想養貓 歡迎來看 歡迎詢問
            有四隻～ 都已結紮 都是品種 成貓
            每隻都很漂亮養的非常好 歡迎有想養成貓的人 
            這邊剛好有 可以推薦給你們 
            送養原因不知道只是幫問 
            地點屏東～</p>
        <div class="add">
            <a href="#">新增回覆</a>
        </div>
        <div class="message">
            <p>品種貓一堆人搶著要養
                米克斯就只會在那邊推</p>
        </div>
        <div class="message">
            <p>請慎選認養人🙏🏻🙏🏻🙏🏻</p>
        </div>
        <div class="message">
            <p>樓上急著認養的各位 希望你們有足夠的經濟能力</p>
        </div>
    </div>  
    </main>
    <footer>
        &copy; 2023 Q&AHub. All rights reserved. Content on this site is protected by copyright law. Unauthorized use is strictly prohibited. Q&AHub and its logos are registered trademarks.
    </footer>
</body>
</body>
</html>