<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&AHub個人頁面</title>
    <link rel="stylesheet" href="style_personal.css">
</head>
<body>
    <header>
        <h1>Q&AHub</h1>
        <nav>
        <ul>
            <li><a href="mainpage.html">首頁</a></li>
        </ul>
        </nav>
    </header>
    <main>
        <div class="main">
          <div class="main_inside">
            <h2>tomato0318</h2>
          </div>
          <div class="buttom">
            <div class="white"></div>
            <div class="bottom_inside">
                <a href="mainpage_nologin.html">查看歷史發問紀錄</a>
            </div>
            <div class="bottom_inside">
                <a href="mainpage_nologin.html">查看歷史回答紀錄</a>
            </div>
            <div class="bottom_inside_4">
                <a href="mainpage_nologin.html">最佳解答</a>
            </div>
            <div class="bottom_inside_4">
                <a href="mainpage_nologin.html">按讚紀錄</a>
            </div>
            <div class="bottom_inside_4">
                <a href="mainpage_nologin.html">收藏問題</a>
             </div>
        </div>
          </div>
        </div>
      </main>
      <footer>
        &copy; 2023 Q&AHub. All rights reserved. Content on this site is protected by copyright law. Unauthorized use is strictly prohibited. Q&AHub and its logos are registered trademarks.
      </footer>
</body>
</html>