<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&AHub</title>
    <link rel="stylesheet" href="style_love.css">
</head>
<body>
    <header>
        <h1>Q&AHub</h1>
        <nav>
        <ul>
            <li><a href="personal.html">tomato_0318</a></li>
        </ul>
        </nav>
    </header>
    <main>
        <div class="main">
            <div class="main_inside">
                <h2>旅遊</h2>
            </div>
            <div class="question">
                <div class="question_inside">
                    <p>下禮拜要去日本大阪玩，有什麼推薦必吃必玩的嗎？</p>
                    <p>原本跟家人都安排好假期（一月4-7）要去大阪，機票飯店也訂好了，而且還存錢幫家人訂了星宇的豪經艙。
                        如果取消的話要損失10幾萬，但是同時也不想冒著有餘震的風險去遊玩，更何況日本現在都忙於救災⋯ 實在是不知道該怎麼辦</p>
                    <p>想問各位如果找不到適合的好友，你們會選擇自己出國嗎？
                        有在想獨旅東京，但第一次自己出國去日本不知道會不會很難？本身英文不好</p>
                    <p>想請問有自由行去過富國島的各位
                        因為是第一次自己嘗試規劃所有行程
                        想跟老公打算在3月去過個小小蜜月旅行
                        有什麼特別該注意的事項嗎 這裡有幾個問題想問大家🙏</p>
                </div>
            </div>
        </div>
      </main>
      <footer>
        &copy; 2023 Q&AHub. All rights reserved. Content on this site is protected by copyright law. Unauthorized use is strictly prohibited. Q&AHub and its logos are registered trademarks.
      </footer>
</body>
</html>